In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Step 1: Download the Tesla revenue page
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"
response = requests.get(url)
html_data = response.text

# Step 2: Parse the HTML with BeautifulSoup
soup = BeautifulSoup(html_data, "html.parser")

# Step 3: Locate the revenue table (it's the first table on the page)
table = soup.find_all("table")[0]

# Step 4: Loop through rows and extract Date and Revenue
rows = []
for row in table.find_all("tr")[1:]:  # skip header
    cols = row.find_all("td")
    if len(cols) == 2:
        date = cols[0].text.strip()
        revenue = cols[1].text.strip().replace("$", "").replace(",", "")
        if date and revenue:
            rows.append({"Date": date, "Revenue": revenue})

# Step 5: Create a DataFrame
tesla_revenue = pd.DataFrame(rows)

# Convert Revenue to numeric
tesla_revenue["Revenue"] = pd.to_numeric(tesla_revenue["Revenue"], errors="coerce")

# Step 6: Display last 5 rows
tesla_revenue.tail()

    Date  Revenue
8   2013     2013
9   2012      413
10  2011      204
11  2010      117
12  2009      112