In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Step 1: Download the GameStop revenue webpage
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html"
response = requests.get(url)
html_data_2 = response.text

# Step 2: Parse HTML with BeautifulSoup
soup = BeautifulSoup(html_data_2, "html.parser")

# Step 3: Locate the revenue table (usually the first or second table)
tables = soup.find_all("table")
gme_table = tables[0]  # If needed, use index 1 instead

# Step 4: Extract Date and Revenue
rows = []
for row in gme_table.find_all("tr")[1:]:  # Skip header
    cols = row.find_all("td")
    if len(cols) == 2:
        date = cols[0].text.strip()
        revenue = cols[1].text.strip().replace("$", "").replace(",", "")
        if date and revenue:
            rows.append({"Date": date, "Revenue": revenue})

# Step 5: Store data in a DataFrame
gme_revenue = pd.DataFrame(rows)

# Step 6: Clean Revenue column
gme_revenue["Revenue"] = pd.to_numeric(gme_revenue["Revenue"], errors="coerce")

# Step 7: Display the last 5 rows
gme_revenue.tail()

    Date  Revenue
11  2009     8806
12  2008     7094
13  2007     5319
14  2006     3092
15  2005     1843